<div class="container mt-4">
    <div class="row">
        <div class="grid d-flex text-center">
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-1.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Biriyani</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-2.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Momo</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-3.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Chawmein</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-4.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Roll's</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-3.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Chawmein</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-col-6 g-col-md-4 m-2">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <img src="../../assets/images/product-4.jpg" class="card-img-top">
                        </div>
                        <div class="col">
                            <div class="card-body d-flex justify-content-md-center">
                                <h5>Roll's</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<br>
<br>