<div class="container-fluid">
    <div class="container mt">
        <app-category></app-category>
        <app-carousel></app-carousel>
        <div class="container text-center mt-5 mb-5">
            <div class="row justify-content-center">
               <div class="card" style="width: 17rem">
                <div class="row card-title">
                  <img class="col" src="../../assets/images/chef-black-and-white.png" style="height: 100px; width: 100px;" alt="">
                  <h1 class="col heading" style="margin-top: 24px;">Menu</h1>
                </div>
               </div>
            </div>
            <app-products></app-products>
        </div>
    </div>
</div>